@inherits LayoutComponentBase

<div class="app-container">
    <NavMenu />
    
    <main class="main-content">
        <div class="top-bar">
            <div class="top-bar-content">
                <span class="app-title-mobile">AlcoholCalculator</span>
                <a href="about" class="about-link">درباره</a>
            </div>
        </div>

        <div class="content-area">
            @Body
        </div>
    </main>
</div>