<div class="sidebar @_menuState">
    <div class="sidebar-header">
        <div class="navbar-brand">
            <i class="bi-cup-hot-fill brand-icon"></i>
            <span class="brand-text">AlcoholCalculator</span>
        </div>
        <button class="menu-toggle" @onclick="ToggleMenu" title="باز/بستن منو">
            <span class="toggle-icon">
                <i class="bi @(_menuState == "expanded" ? "bi-chevron-right" : "bi-chevron-left")"></i>
            </span>
        </button>
    </div>

    <div class="nav-content">
        <nav class="nav-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="nav-icon bi bi-calculator"></span>
                    <span class="nav-text">هشیارسنج</span>
                    <span class="nav-tooltip">هشیارسنج</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="drinks">
                    <span class="nav-icon bi bi-list-ul"></span>
                    <span class="nav-text">لیست نوشیدنی ها</span>
                    <span class="nav-tooltip">لیست نوشیدنی ها</span>
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private string _menuState = "expanded";

    private void ToggleMenu()
    {
        _menuState = _menuState == "expanded" ? "collapsed" : "expanded";
    }
}